.menu, .tab, .icon-menu {
    color: purple;
    font-size: 1.8rem;
}

#portfolio article {
    font-size: 1.25rem;
    background-color: hsla(360, 100%, 100%, .75);
    padding: 0 0 0 2vw;
}

#portfolio img {
    border-top: solid 3px palegoldenrod;
}

#error-wrapper {
    background-color: #101116;
}

@media only screen and (min-width: 640px) {
        .menu, .tab {
        color: purple;
        font-size: 1.8rem;
    }

    #portfolio article {
        font-size: 1.25rem;
        background-color: hsla(360, 100%, 100%, .75);
        padding: 0 0 0 2vw;
    }

    #error-wrapper {
        background-color: #101116;
    }
}