
.mobile-menu {
    display: absolute;
    float: bottom;
    font-size: 2rem;
}

.menu, .tab, .icon-menu {
    color: purple;
    font-size: 1.8rem;
}

#portfolio article {
    font-size: 1.25rem;
    background-color: hsla(86, 44%, 88%, 0.35);
}

#portfolio img {
    border: solid 3px transparent;
    border-top-color: palegoldenrod;
}

#error-wrapper {
    background-color: #101116;
}

@media only screen and (min-width: 640px) {
        .menu, .tab {
        color: purple;
        font-size: 1.8rem;
    }

    #portfolio article {
        font-size: 1.25rem;
        background-color: hsla(86, 44%, 88%, 0.35);
    }

    #error-wrapper {
        background-color: #101116;
    }
}